.introduction-title {
  font-size: 2rem;
  font-weight: 600;
  color: #363636;
  margin-block: 2.5rem 1.5rem;
}

.introduction-content {
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: underline;
}
