.figure {
  padding: 1.5rem 0rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.figure-image {
  width: 100%;
  max-width: 960px;
  height: auto;
  object-fit: contain;
}
.figure-caption {
  padding: 0.5rem;
}
