.bibtex-title {
  font-size: 2rem;
  font-weight: 600;
  color: #363636;
  margin-block: 2.5rem 1.5rem;
}

.bibtex-entry {
  width: calc(100% - 1.5rem);
  position: relative;
  background-color: #eae5e3;
  color: #0f2350;
  font-size: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin: 0;
  text-align: left;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.bibtex-copy-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  color: #595857;
}
@media (hover: hover) {
  .bibtex-copy-button:hover {
    color: #ba2636;
  }
}
